[submodule "frontend/ace-builds"]
	path = frontend/ace-builds
	url = git://github.com/EndlessLoops/ace-builds.git
[submodule "frontend/blockly"]
	path = frontend/blockly
	url = git://github.com/EndlessLoops/blockly.git
